---
import '../../styles/posts.css'
import '../../styles/contents.css'

import TagBar from '../tagbar.astro'

const { url, frontmatter } = Astro.props;
---

<div class="post-shape grid-item">
	<div class="post-info">
		<div class="post-title">
			<a href={url} class="plain">{frontmatter.title}</a>
		</div>
		<div class="post-date">
			{frontmatter.pub_date.toString().slice(8,10)}.{frontmatter.pub_date.toString().slice(5,7)}.{frontmatter.pub_date.toString().slice(0,4)}
		</div>
	</div>
	<a href={url}><img class="post-image" src={frontmatter.image} /></a>
	{frontmatter.cont &&
	<div class="post-cont">{frontmatter.contribution}</div>
	}
	<div class="post-desc">{frontmatter.description}</div>
	{frontmatter.tags &&
	<TagBar tags={frontmatter.tags} reverse="true" />
	}
</div>