---
import '../styles/contents.css'
import '../styles/posts.css'

import Base from '../layouts/base.astro'
import TagBar from '../components/tagbar.astro'

const { frontmatter, headings } = Astro.props
const title = {
	"slug": "",
	"text": frontmatter.title,
	"depth": 2
}
const full_headings = [title, ...headings]
---

<Base page_title={frontmatter.title} table_of_contents={full_headings} git_project={frontmatter.git_project}>
	<div class="content-space">
		<div class="post-shape spacious">
			<h2>
				{frontmatter.title}
			</h2>
			<hr>
			<TagBar tags={frontmatter.tags} reverse="false" />
			{frontmatter.time &&
				<div class="project-time">
					🕓 {frontmatter.time} ({frontmatter.duration})
				</div>
			}
			<slot />
		</div>
	</div>
</Base>